body {
	margin: 0px;
	font-size: 0.85em;
	font-family: "Segoe Ui";
}

#page_background {
	position: fixed;
	width: 880px;
	height: 100%;
	margin: 0px;
	padding: 0px
}

#side_panel {
	background-color: #ffffff;
	width: 458px;
	height: 100%;
	right: 0px;
	float: right;
	display: block;
	margin: 0px;
	padding: 0px

}

#login_layout, tr{
	text-align: center;
}

#login_area {
	margin-top: 50px;
	margin-right: 50px;
	height: 500px;
	width: 350px;
	background-color: #ffffff;
	padding-left: 35px
}

tr{
	text-align: left;
}

td {
	margin-left: 0px;
    width: 400px;
    padding: 2px;
}

input {
	color: #8c8c8c;
	padding-top: 5px;
	padding-bottom: 2px;
	padding-left: 1px;
}

#keep_signed {
	margin-top: 4px;
}

.buttons {
	padding-top: 9px;
	padding-bottom: 7px;
}

#btnback {
	margin-left: 6px;
	border: none;
}

#btnsignin {
	width: 75px;
	background-color: #0185c6;
	color: white;
	border: none;
}

#footer {
	margin-top: 190px;
	float: right;
	bottom:0;
	width: 100%;
	height: 60px;
}

#logo {
	margin-left: 20px;
	margin-top: 20px;
}

#password {
	margin-top: 4px;
}

a {
	text-decoration: none; 
}

#cant_access {
	padding-top: 30px;
}

#terms {
	margin-top: 30px;
	float: left;
	width: 56%;
	overflow: hidden;
	font-size: 0.9em;
}

#logo_div{
	float: left;
	width: 44%;
	overflow: hidden;
}

#t_service {
	float: left;
}

#privacy {
	float: right;
}

.lower_txt {
	margin-top: 10px;
}


